@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;    
  }
  .logo1 {
    vertical-align: middle;
    width: 14%;
  }
  
  
  .imgs a {
    text-decoration: none;
  }
  .innex {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.79);
    transition: 5s ease;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 10px;
  }
  .nav ul {
    list-style: none;
    display: flex;
    align-items: center;
  }
  .nav ul li a {
    padding: 15px;
    color: white;
    text-decoration: none;
  }
  
  .nav ul li {
    padding-top: 5px;
  }
   

  .linker{
    padding: 20px 40px;
    color: white;
    text-decoration: none;
    font-size: larger;
  }

  .nav ul :hover {
    font-weight: 600;
    color: #323982;
    background-color: #ff9a41;
    cursor: pointer;
    padding: 0.5rem 1rem;
  }

